# Large data files in investment-db-experiments
investment-db-experiments/*.mbox
investment-db-experiments/*.zip
investment-db-experiments/Takeout/
investment-db-experiments/Takeout 2/

# macOS
.DS_Store

# Other files to ignore
Recovery codes github.txt
alias-for-sck-local-dropbox
